<footer class="footer mt-auto py-3 mt-3 border-top">
    <div class="container text-center">
        <span class="text-muted"><%= t('website_copyright',{year:new Date().getFullYear()}) %></span>
    </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.js"></script>
<script>
  NProgress.configure({showSpinner: false});
  var $$ = {
    notify: function (message, options) {
      options = options || {};
      $.notify({
        message: message
      }, {
        type: options.type || 'danger',
        timer: 100,
        newest_on_top: true,
        allow_dismiss: false,
        animate: {
          enter: "animated fadeInUp",
          exit: "animated fadeOutDown"
        },
        placement: {
          from: "top",
          align: "right"
        },
        z_index: 99999,
        offset: {
          x: 20,
          y: 80
        }
      });
    },
    loading: {
      start: function (controls) {
        $(controls).each(function () {
          if ($(this).is('div')) {
            $(this).show();
          } else if ($(this).is('button')) {
            $(this).attr("disabled", "disabled");
            $(this).find('.spinner-border').show();
          }
        });
        NProgress.start();
      },
      done: function (controls) {
        $(controls).each(function () {
          if ($(this).is('div')) {
            $(this).hide();
          } else if ($(this).is('button')) {
            $(this).removeAttr('disabled');
            $(this).find('.spinner-border').hide();
          }
        });
        NProgress.done();
      }
    }
  };
</script>
